body {
	background: black;
	font-family: "Abel", sans-serif;
	font-family: "Shadows Into Light", cursive;
}

* {
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	height: 50px;
	margin-top: auto;
}

.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 1%;
}

.p1 {
	margin-top: 0%;
}
input {
	border: none;
	border-bottom: grey underline;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: gainsboro;
	padding: 10px;
}

